@media only screen and (max-width: 600px){
    #logo{
        opacity: 0;
    }
}
html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}
#logo{
    padding: 35px;
    position: absolute;
}
/* ul da navbar */
#nav{
    justify-content: flex-end;
    display: flex;
    list-style-type: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    min-height: 90px;
    width: 100%;
    padding:0;
    margin: 0;

}
/* container flex dos items */
#padding{
    margin-top: 40px;
    display: flex;
}
/* li da navbar */
.nav_item{
    position: relative;
    color: white;
    margin-right: 15px;
    font-size: 18px;
}
.hovermenu{
    padding: 10px;
    border-top: 60px;  
    background-color: #222;
    border-radius: 15px;
    position: absolute;
    top: 30px;
    left: -20px;
    width:150px;
    height: auto;
}
.hovermenu a{
    padding-top:15px;
    padding-left: 23px;
}
.item_link{
    text-decoration: none;
    color: white;
}
/* filtro para a background-image do banner ficar mais escura */
#filter{
    position: inherit;
    width: inherit;
    height: inherit;
    background-color: black;
    background: rgba(0, 0, 0, 0.44);
}
/* a parte do banner começa aqui */
#banner{
    height:720px;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}
#banner_container{
    position: absolute;
    top: 360px;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 100%;
}
.header{
    color: white;   
    font-size: 52px;
    overflow: hidden;
}
#button_container{
    display: flex;
    justify-content: center;
}
.banner_button{
    display: block;
    text-decoration: none;
    color: white;
    margin:10px;
    width:200px;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
.banner_button:hover{
    background-color: white;
    color: black;
}
/* seção com o texto e imagem*/
.section{
    border-bottom: solid 2px rgb(231,234, 238);    
    padding-bottom: 15px;
    overflow: auto;
}
.header_laranja{
    font-size: 35px;
    color: rgb(244, 110, 50);
    letter-spacing: 7px;
}
.text_container{
    margin: 20px;
    flex-shrink: 2;
    text-align: justify;
}
#mobile_hell{
    float: left;
    margin: 15px;
}
/* parte do html/html-css/js */
#htmlcss{
    text-align: center;
    margin: 20px;
    margin-bottom: 0px;
}
.section2{
    flex-wrap: wrap;
    display:flex;
    justify-content: space-evenly;
}
.button_image_container{
    width:20%;
    border-radius: 3px;
    min-width:232px;
    text-align: center;
    margin-top: 55px;
}
.image{
    margin: auto;
}
/* cores dos blocos */
#laranja{
    background-color: #D65B43;
    border: solid 3px #c5c5c5;
    border-bottom:solid 3px #606060;
}
#azul{
    background-color: #6cc4eb;
    border: solid 3px #c5c5c5;
    border-right:solid 3px #606060;
    border-bottom:solid 3px #606060;
}
#amarelo{
    background-color: #f3ca4b;
    border: solid 3px #c5c5c5;
    border-right:solid 3px #606060;
    border-bottom:solid 3px #606060;
}
/* padronizar a altura das imagens */
#sizefix{
    height: 164px;
}
.comment{
    text-align:left;
    font-size: 12px;
    color: white;
    margin:15px;
}
.estudar{
    font-size:12px;
    text-align: center;
    padding:15px;
    background-color: white;
}
.estudar_button{
    text-decoration: none;
    background-color: #ff7e00;
    padding:5px;
    font-size: 14px;
    border-radius: 7px;
    color: white;

}
.vermais_container{
    text-align: center;
    margin: 30px;
    border-bottom: solid 2px rgb(231,234, 238);    
    padding-bottom: 15px;
}
.vermais{
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    background-color: black;
    padding: 3px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
}
/* colorfixes para a parte do ruby */
#roxo{
    background-color: #a72d3a;
    border: solid 3px #c5c5c5;
    border-right:solid 3px #606060;
    border-bottom:solid 3px #606060;
}
#lilas{
    background-color: #8A2BFF;
    border: solid 3px #c5c5c5;
    border-right:solid 3px #606060;
    border-bottom:solid 3px #606060;
}
#vermelho{
    background-color: #B21300;  
    border: solid 3px #c5c5c5;
    border-bottom:solid 3px #606060;
}
#rails5{
    background-color: #a72d3a;
    border: solid 3px #c5c5c5;
    border-bottom:solid 3px #606060;
}
.header_roxo{
    text-align: center;
    font-size: 35px;
    color:  #a72d3a;
    letter-spacing: 7px;
}
#heroku_sizefix{
    height: 169px;
}
#butao{
    background-color: #a72d3a;
}
/* uns efeito massa */
.estudar_button:hover{
    opacity: 0.5;
}
.vermais:hover{
    opacity: 0.5;
}
.item_link:hover{
    opacity: 0.5;
}
.body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

#alerta {
    top: calc(50% - 74px); 
	width: 400px;
	background-color: #eddfdf;
	border: 1px solid #ccc;
	margin: 40px auto;
	cursor: move;
	position: fixed;
	left: calc(50% - 200px);
}

#alerta .title{
	background-color: #329596;
	height: 30px;
	border-bottom: 1px solid #227374;
	text-transform: uppercase;
	padding: 10px 10px 0px 0px;
	text-align: center;
	color: #073c3d;
	text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title i{
	float: right;
	padding-top: 3px;
}

#alerta .body{
	padding: 10px;
}

form button{
	display: block;
	padding: 4px 11px;
	border: 1px solid #ffcc00;
	background-color: #ffcc00 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
	background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	cursor:pointer;
	position: relative;
	margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
	color: #227210;
	font-size: 12px;
}


#contador {
    position: fixed;
    font-size: 30px;
    opacity: 0.95;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
	color: #227210;
	text-align: center;
}
#progressbar {
    width: 200px;
    opacity: 0.5;
    background-color: #227210;
    height: 20px;
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%,0%);
}

#x{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#waat{
    width:100%;
    height: 100%;
}
@keyframes scale_animation{
    from {transform: scale(1);}
    to {transform: scale(1.04);}
}
.button_image_container:hover{
    animation: scale_animation 0.5s;
    transform: scale(1.04);
}